// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "llco";
$icons8-font-path: "../fonts";

$icons8-var-facebook: "\f100";
$icons8-var-get-quote: "\f10b";
$icons8-var-instagram-filled: "\f101";
$icons8-var-mail-filled: "\f104";
$icons8-var-marker-filled: "\f106";
$icons8-var-phone-filled: "\f107";
$icons8-var-pinterest-filled: "\f103";
$icons8-var-quote: "\f109";
$icons8-var-quote-left: "\f10c";
$icons8-var-twitter-filled: "\f102";
$icons8-var-yelp-filled: "\f108";
